# **1. Library**

In [1]:
import pandas as pd

# **2. Loading Data**

In [2]:
Data = pd.read_csv ('data Scrap Grab.csv',sep =',')
Data = Data[['content','score']]
Data.loc[Data['score']>=4, 'sentiment'] = "1"
Data.loc[Data['score']<=2, 'sentiment'] = "-1"
Data = Data[['content','sentiment']]

In [3]:
Data.isna().sum()

content          0
sentiment    35821
dtype: int64

In [4]:
Data = Data.dropna()

In [5]:
Data.isna().sum()

content      0
sentiment    0
dtype: int64

In [6]:
Data.duplicated().sum()

11

In [7]:
Data = Data.drop_duplicates()

In [8]:
Data.duplicated().sum()

0

## **2.1 Sampling Data**

In [9]:
Data['sentiment'].unique()

array(['1', '-1'], dtype=object)

In [10]:
count = pd.DataFrame({"Count": ['Positive','Negative'],"Total Jenis": [len (Data[Data['sentiment']=='1']),len (Data[Data['sentiment']=='-1'])]})
count

      Count  Total Jenis
0  Positive       284410
1  Negative       152776

In [11]:
Percentage = pd.DataFrame({"Count": ['Positive','Negative'],"Total Jenis": [(len (Data[Data['sentiment']=='1'])/(len (Data[Data['sentiment']=='1']) + len (Data[Data['sentiment']=='-1'])))*100,(len (Data[Data['sentiment']=='-1'])/(len (Data[Data['sentiment']=='1']) + len (Data[Data['sentiment']=='-1'])))*100]})
Percentage

      Count  Total Jenis
0  Positive    65.054691
1  Negative    34.945309

### **2.1.1 Data 65/35**

In [12]:
Data.to_csv('Data6535.csv',index = False)

### **2.1.2 Data 50/50**

In [13]:
Data2 = pd.read_csv('Data6535.csv')
Data2

                                                  content  sentiment
0                                                   yu Dr          1
1                                             Dua dulu yu         -1
2       Tolong y.tuk semua pengguna promo grab.jng se ...         -1
3                                                    YTTA          1
4                                        YT.SUKANDA CATER          1
...                                                   ...        ...
437181                       Aapalah harga berubah2 mahal         -1
437182  Aapaan ni aplikasi. Gua gk di kasi kode. Akses...         -1
437183  Aap grab sangat membantu,pa lg ketika kt mau p...          1
437184  Aap ini bagus banget,kita gak perlu keluar seg...          1
437185                                      aap nya bagus          1

[437186 rows x 2 columns]

In [14]:
Data2['sentiment'].unique()

array([ 1, -1], dtype=int64)

# **Config for Balanced Data**

In [15]:
Number = 150
fraction = 0.47

In [16]:
Positive = Data2[Data2['sentiment']==1]
Negative = Data2[Data2['sentiment']==-1]
Positive = Positive.sample(frac = fraction , random_state=101)
Data2 = pd.concat([Positive,Negative],axis=0)
Data2

                                                  content  sentiment
118750                                 Pengemudinya sadis          1
124638                  Pelayanan terbaikkk The best laaa          1
426017            Alkhmdulillah bagus,,,terimakasih grb..          1
426973    Alhamdulillah selama pesan grab orgx pada rama"          1
62292   Smoga makin bagus dlm pelayanan jg menambah pe...          1
...                                                   ...        ...
437176  Aapkah grab sedang dlm mslh, sya habs pakai gr...         -1
437177  padahal dulu aapk ini paling murah dan sopan,n...         -1
437180      aapan ini bisanya upgrad mulu, abis kuota lol         -1
437181                       Aapalah harga berubah2 mahal         -1
437182  Aapaan ni aplikasi. Gua gk di kasi kode. Akses...         -1

[286449 rows x 2 columns]

In [17]:
Data2=Data2.sample(n=Number,random_state = 435)
Data2

                                                  content  sentiment
416551  Aplikasi ini bermanfaat supaya bisa melihat lo...          1
220343  MAHAL, KALAH BERSAING, SELAMAT TINGGAL GRAB, T...         -1
418798  Aplikasi anjing gua udh di paketin tpi gk nemu...         -1
64777              Sistem aplikasi lemot. Keluar sendiri.         -1
273588  Saya baru instal ulang apk nya.tapi pas dimint...         -1
...                                                   ...        ...
11103               klo ga di update dpt driver jauh jauh         -1
413241  aplikasi grab ini membantu banget buat saya ya...          1
423296                                        angel angel         -1
241698      Knpa sih hrus diupdate tros, memori guw pnuhh         -1
41197   Sya kecewa dengan aplikasi grab seyiap sya pes...         -1

[150 rows x 2 columns]

In [18]:
count = pd.DataFrame({"Count": ['Positive','Negative'],"Total Jenis": [len (Data2[Data2['sentiment']==1]),len (Data2[Data2['sentiment']==-1])]})
count

      Count  Total Jenis
0  Positive           75
1  Negative           75

In [19]:
Percentage = pd.DataFrame({"Count": ['Positive','Negative'],"Total Jenis": [(len (Data2[Data2['sentiment']==1])/(len (Data2[Data2['sentiment']==1]) + len (Data2[Data2['sentiment']==-1])))*100,(len (Data2[Data2['sentiment']==-1])/(len (Data2[Data2['sentiment']==1]) + len (Data2[Data2['sentiment']==-1])))*100]})
Percentage

      Count  Total Jenis
0  Positive         50.0
1  Negative         50.0

In [20]:
Data2.to_csv ('Data5050.csv',index = False)

### **2.1.3 Data 70/30**

In [21]:
Data3 = pd.read_csv('Data6535.csv')
Data3

                                                  content  sentiment
0                                                   yu Dr          1
1                                             Dua dulu yu         -1
2       Tolong y.tuk semua pengguna promo grab.jng se ...         -1
3                                                    YTTA          1
4                                        YT.SUKANDA CATER          1
...                                                   ...        ...
437181                       Aapalah harga berubah2 mahal         -1
437182  Aapaan ni aplikasi. Gua gk di kasi kode. Akses...         -1
437183  Aap grab sangat membantu,pa lg ketika kt mau p...          1
437184  Aap ini bagus banget,kita gak perlu keluar seg...          1
437185                                      aap nya bagus          1

[437186 rows x 2 columns]

# **Config For Imbalanced Data**

In [22]:
Number2 = 150
frac_pos = 0.54
frac_neg = 0.46

In [23]:
Positive1 = Data3[Data3['sentiment'] == 1].sample(frac=frac_pos, random_state=1)
Negative1 = Data3[Data3['sentiment'] == -1].sample(frac=frac_neg, random_state=1)
Data3 = pd.concat([Positive1,Negative1],axis=0)
Data3 = Data3.sample(n = Number2,random_state = 43)
Data3

                                                  content  sentiment
220010  Tambah sini tambah mahal... promo nya percuma ...         -1
169492                                  Agak menurun ð          1
429914  Akun tibaÂ² ditangguhkan, padahal gapernah bik...         -1
52243                      Saya suka pelayan nya ðð          1
164205                              mobil Avanza e bisnis          1
...                                                   ...        ...
101816  Promo gak bisa di gunakan , driver nya sibuk t...         -1
143311                                             Oke ni          1
101905                     banyak promo diskon...the best          1
61471   sngat menbantu tpi ko gc normal y harga y slal...          1
362786               bs kenal dkt sama drivernya keren dh          1

[150 rows x 2 columns]

In [24]:
Percentage = pd.DataFrame({"Count": ['Positive','Negative'],"Total Jenis": [(len (Data3[Data3['sentiment']==1])/(len (Data3[Data3['sentiment']==1]) + len (Data3[Data3['sentiment']==-1])))*100,(len (Data3[Data3['sentiment']==-1])/(len (Data3[Data3['sentiment']==1]) + len (Data3[Data3['sentiment']==-1])))*100]})
Percentage

      Count  Total Jenis
0  Positive         72.0
1  Negative         28.0

In [25]:
Data3.to_csv ('Data7030.csv',index =False )